<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  ></button>
  <span>Estudos</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  ></button>
  <button
    mat-raised-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    (click)="openDialog()"
  >
    Novo
  </button>
</mat-toolbar>

<div fxLayout="row wrap" fxLayoutAlign="start start" style="padding: 10px;">
  <mat-card id="card" *ngFor="let referencia of referencias" class="mat-elevation-z5">
    <mat-card-header>
      <mat-card-title>{{ referencia.titulo }}</mat-card-title>
    </mat-card-header>
    <div style="height: 300px;" fxLayout="column" fxLayoutAlign="center center" >
      <img
        width="400px"
        [src]="referencia.preview.image"
        alt="Photo of a Shiba Inu"
        style="max-height: 300px;"
      />
    </div>
    <mat-card-content>
      <div style="height: 20px">
        <p>
          {{ referencia.preview.description | slice: 0:200 }}
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-chip-list>
        <mat-chip color="primary" selected >{{ referencia.tag }}</mat-chip>
      </mat-chip-list>
    </mat-card-actions>
  </mat-card>
</div>
